container_commands:
  01_collectstatic:
    command: "source .venv/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true 
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: quatro.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: quatro.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
